<script type="text/javascript">{literal}

function partner_edit() {

    // var
    this._dir = '{/literal}{$_dir}{literal}';
    this._field = JSON.parse('{/literal}{$field}{literal}');
    this._id = '{/literal}{$_id}{literal}';
    this._name = '{/literal}{$_name}{literal}';
    this._path = base_url+'/'+this._dir+':'+this._name;
    this._ptb_mode = 'default';
    //
    this.id = '{/literal}{$id}{literal}';

    // crud
    this.load = function(obj) {
        this.panel.display.form.load({
            method:'POST',
            url:this._path+'/load/'+this.id,
            success:function() {
            },
            failure:function () {
                Ext.MessageBox.alert('Katashi', 'Wystąpił błąd');
            }
        });
    }
    this.edit = function(obj) {
        obj.panel.display.form.submit({
            method: 'POST',
            url: this._path+'/edit/'+this.id,
            success: function() {
                if (partner.store) { partner.store.display.reload(); }
                Ext.MessageBox.alert('Katashi', 'Operacja zakończona poprawnie');
            },
            failure: function() {
                Ext.MessageBox.alert('Katashi', 'Wystąpił błąd');
            }
        });
    }

    // form
    var config = new Object({
        items: [{
            fieldLabel: 'Nazwa Sklepu',
            name: 'title',
            xtype: 'textfield'
        },{
            fieldLabel: 'Nagłówek',
            name: 'text1',
            xtype: 'textfield'
        },{
            fieldLabel: 'Header',
            name: 'text2',
            xtype: 'textfield'
        },{
            fieldLabel: 'Treść',
            height: 250,
            name: 'text3',
            xtype: 'htmleditor',
            width: 550
        },{
            fieldLabel: 'Nazwa Firmy',
            name: 'company_name',
            xtype: 'textfield'
        },{
            fieldLabel: 'Adres',
            name: 'company_address',
            xtype: 'textfield'
        },{
            fieldLabel: 'Nip',
            name: 'company_nip',
            xtype: 'textfield'
        },{
            fieldLabel: 'Regon',
            name: 'company_regon',
            xtype: 'textfield'
        },{
            fieldLabel: 'Kod Pocztowy',
            name: 'company_zip',
            xtype: 'textfield'
        },{
            fieldLabel: 'Miasto',
            name: 'company_city',
            xtype: 'textfield'
        },{
            fieldLabel: 'Kraj',
            name: 'company_country',
            xtype: 'textfield'
        },{
            fieldLabel: 'Telefon stacjonarny',
            name: 'company_phone',
            xtype: 'textfield'
        },{
            fieldLabel: 'Telefon komórkowy',
            name: 'company_mobile',
            xtype: 'textfield'
        },{
            fieldLabel: 'url1',
            name: 'url1',
            xtype: 'textfield'
        },{
            fieldLabel: 'url2',
            name: 'url2',
            xtype: 'textfield'
        },{
            fieldLabel: 'Obrazek/logo',
            name: 'image',
            xtype: 'textfield'
        },{
            fieldLabel: 'Położenie/Google maps',
            name: 'gm_position',
            xtype: 'textfield'
        },{
            fieldLabel: 'Icona na mapie',
            name: 'gm_icon_url',
            xtype: 'textfield'
        }],
        buttons: new Form_Edit_Button_Create(this)
    });
    this.panel = new FormPanel(); this.panel.init(config);
    this.panel.display.render(Ext.get(this._id));
    this.load(this);
}
var partner_edit  = new partner_edit();
//
{/literal}</script>
<div id="{$_id}"></div>