<script type="text/javascript">11{literal}

function Product_Dict_Category() {

    // var
    this._dir = '{/literal}{$_dir}{literal}';
    this._field = JSON.parse('{/literal}{$field}{literal}');
    this._id = '{/literal}{$_id}{literal}';
    this._name = '{/literal}{$_name}{literal}';
    this._path = base_url+'/'+this._dir+':'+'product_dict_category';
    this._ptb_mode = 'default';

    // crud
    this.add = function(obj) {
        id = obj._id+'_add_'+Math.floor((Math.random()*999999999)+1);
        title = 'Dodaj';
        path = obj._path+'/display_add';
        center.ui.tab_add(id, title, path);
    }
    this.edit = function(obj, id, user) {
        id = obj._id+'_edit_'+id;
        title = 'Edycja '+user;
        path = obj.path+'/display_edit/'+id;
        center.ui.tab_add(id, title, path);
    }
    this.option = function(value,m,record,ri,ci,store) {
        return String.format(  '<a href="javascript:Grid_Edit(\''+id+'\',\''+record.data.title+'\',\''+store.path+'/display_edit/'+record.data.id+'\');"><img src="images/icon/page_edit.png" border="0"></a> ');
                     //          '<a href="javascript:Grid_Delete(\''+store.name+'\',\''+store.path+'/delete/'+record.data.id+'\');"><img src="images/icon/delete.png" border="0"></a>');
    }

    // store
    var config = new Object({
        fields: this._field,
        id: this._name,
        name: this._name,
        path: this._path,
        url: this._path+'/load_all'
    });
    this.store = new Store(); this.store.init(config);

    // grid
    this.ptb = new PagingToolBar(); this.ptb.init(Ptb_Create(this));
    var config = new Object({
        store: this.store.display,
        tbar: this.ptb.display,
        columns: [
            { id: 'id', dataIndex: 'id', header: 'Id', sortable: true },
            { id: 'title', dataIndex: 'title', header: 'Nazwa', sortable: true },
            { id: 'options', header: 'Opcje', renderer: this.option, sortable: false, menuDisabled: true }
        ]
    });
    this.grid = new EditorGridPanel(); this.grid.init(config);
    // panel/load
    var config = new Object({items:[this.grid.display]});
    this.panel = new Panel(); this.panel.init(config);
    this.panel.display.render(Ext.get(this._id));
    this.store.display.load({params:{start:0,limit:_paging_limit}});
}
//
var product_dict_category = new Product_Dict_Category();
//
{/literal}</script>
<div id="{$_id}"></div>