<script type="text/javascript">{literal}

function product_dict_category_edit() {

    // var
    this._dir = '{/literal}{$_dir}{literal}';
    this._field = JSON.parse('{/literal}{$field}{literal}');
    this._id = '{/literal}{$_id}{literal}';
    this._name = '{/literal}{$_name}{literal}';
    this._path = base_url+'/'+this._dir+':'+'product_dict_category';
    this._ptb_mode = 'default';
    //
    this.id = '{/literal}{$id}{literal}';

    // crud
    this.load = function(obj) {
        this.panel.display.form.load({
            method:'POST',
            url:this._path+'/load/'+this.id,
            success:function() {
            },
            failure:function () {
                Ext.MessageBox.alert('Katashi', 'Wystąpił błąd');
            }
        });
    }
    this.edit = function(obj) {
        obj.panel.display.form.submit({
            method: 'POST',
            url: this._path+'/edit/'+this.id,
            success: function() {
                if (product_dict_category.store) { product_dict_category.store.display.reload(); }
                west_product.ui_tree.root.reload();
                west_product.ui_tree.path_expand();
                Ext.MessageBox.alert('Katashi', 'Operacja zakończona poprawnie');
            },
            failure: function() {
                Ext.MessageBox.alert('Katashi', 'Wystąpił błąd');
            }
        });
    }

    // form
    var config = new Object({
        items: [{
            fieldLabel: 'Tytuł',
            name: 'title',
            xtype: 'textfield'
        }],
        buttons: new Form_Edit_Button_Create(this)
    });
    this.panel = new FormPanel(); this.panel.init(config);
    this.panel.display.render(Ext.get(this._id));
    this.load(this);

}
var product_dict_category_edit  = new product_dict_category_edit();
//
{/literal}</script>
<div id="{$_id}"></div>