<div id="okno">
<a href="#" title="Zamknij okno"><img width="26" height="26" class="zamknij-okno" src="images/close.png"
                                      alt="Zamknij okno"></a>
<div id="adb-gora">
    <div id="adb-obrazek">
        <img width="524" height="425" src="images/bikebig.png" alt="">
    </div>
    <div id="adb-opis">
        <div id="adb-tytul">
            Nazwa roweru XX<br>
        </div>
        <div id="adb-tytul2">
            Rozmiar koła: 26 cali <br>
            Rama: New 7005 Series Aluminum Gt Triple Triangle Frame With Hydro Formed Tt<br>
        </div>
        <div id="adb-opis2">
            Comfort Geometry, And All Utility
            Braze-Ons <br> Widelec: Steel Leg Rigid Fork W/ Rack Mount <br> Korba: Sr Suntour Xcc-T208, 48/38/28T <br>
            Suport: Cartridge Sealed <br> Pedały: High Impact nylon Comfort <br> Przerzutka - przód: Shimano TX51 <br>
            Przerzutka - tył: Shimano Tx51 <br> Manetki: Sram Mrx, Grip Shift <br> Łańcuch: KMC HG-40 <br> Obręcze: Alex
            Z1000 Alloy Hybrid, 36h <br> Opony: Kenda Eurotour, 700x38C <br> Piasta - przód: Alloy, W/ Quick Release
            <br> Piasta - tył: Alloy Freewheel, W/ Quick
            Release <br> Szprychy: Stainless steel 14 gauge <br> Wolnobieg: Shimano Megarange, 7 Speed,
            14-34T Freewheel <br> Hamulec - przód: Linear Pull, W/ 110Mm
            Arms <br> Hamulec - tył: Linear Pull, W/ 110Mm
            Arms <br> <br> Kierownica: Gt Comfort, 40Mm Rise <br> Gripy: Gt Ergonomic Type Dual Density <br> Stery: 1
            1/8 threaded <br>
        </div>
    </div>
</div>
<div id="line2"></div>
<div id="adsb-backgr">
    <!-- ad -->
    <div id="wybor2">
        <div id="adsyb">
            <div id="box-ad-border">
                <div class="auto-style2" id="box-ad-1">
                    <img width="57" height="57" style="float: right" src="images/logo-adidas.png" alt="logo"><a
                        href="#">Adidas Partners</a>
                    <br>
                    <div id="ad-address">
                        <a href="#">Warszawa<br>
                            ul. Krucza 22 / 3</a></div>
                </div>
                <div class="auto-style2" id="box-ad-2">
                    <div id="box-ad-2-l">Cena: 2230.88 zł</div>
                    <div id="box-ad-2-2"> Odległość: 12.9 km</div>
                </div>
                <div class="auto-style2" id="box-ad-3">
                    <div id="box-ad-2-4">
                        <img width="9" height="11" src="images/arrow.png" alt=""> <a href="#">Więcej</a></div>
                    <div id="box-ad-2-2">
                        <div id="stars">
                            <img width="13" height="13" src="images/ad-tick-on.png" alt=""><img width="13" height="13"
                                                                                                src="images/ad-tick-on.png"
                                                                                                alt=""><img width="13"
                                                                                                            height="13"
                                                                                                            src="images/ad-tick-on.png"
                                                                                                            alt=""><img
                                width="13" height="13" src="images/ad-tick-on.png" alt=""><img width="13" height="13"
                                                                                               src="images/ad-tick.png"
                                                                                               alt=""></div>
                        4.12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ad -->
    <!-- ad -->
    <div id="wybor2">
        <div id="adsyb">
            <div id="box-ad-border">
                <div class="auto-style2" id="box-ad-1">
                    <img width="57" height="57" style="float: right" src="images/logo-adidas.png" alt="logo"><a
                        href="#">Adidas Partners</a>
                    <br>
                    <div id="ad-address">
                        <a href="#">Warszawa<br>
                            ul. Krucza 22 / 3</a></div>
                </div>
                <div class="auto-style2" id="box-ad-2">
                    <div id="box-ad-2-l">Cena: 2230.88 zł</div>
                    <div id="box-ad-2-2"> Odległość: 12.9 km</div>
                </div>
                <div class="auto-style2" id="box-ad-3">
                    <div id="box-ad-2-4"><span style="text-decoration:none; color:black">
	<img width="9" height="11" src="images/arrow.png" alt="">
	<a href="#">Więcej</a></span></div>
                    <div id="box-ad-2-2">
                        <div id="stars">
                            <img width="13" height="13" src="images/ad-tick-on.png" alt=""><img width="13" height="13"
                                                                                                src="images/ad-tick-on.png"
                                                                                                alt=""><img width="13"
                                                                                                            height="13"
                                                                                                            src="images/ad-tick-on.png"
                                                                                                            alt=""><img
                                width="13" height="13" src="images/ad-tick-on.png" alt=""><img width="13" height="13"
                                                                                               src="images/ad-tick.png"
                                                                                               alt=""></div>
                        4.12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ad -->
    <!-- ad -->
    <div id="wybor2">
        <div id="adsyb">
            <div id="box-ad-border">
                <div class="auto-style2" id="box-ad-1">
                    <img width="57" height="57" style="float: right" src="images/logo-adidas.png" alt="logo"><a
                        href="#">Adidas Partners</a>
                    <br>
                    <div id="ad-address">
                        <a href="#">Warszawa<br>
                            ul. Krucza 22 / 3</a></div>
                </div>
                <div class="auto-style2" id="box-ad-2">
                    <div id="box-ad-2-l">Cena: 2230.88 zł</div>
                    <div id="box-ad-2-2"> Odległość: 12.9 km</div>
                </div>
                <div class="auto-style2" id="box-ad-3">
                    <div id="box-ad-2-4">
<span style="text-decoration:none; color:black">
	<img width="9" height="11" src="images/arrow.png" alt="">
	<a href="#">Więcej</a></span></div>
                    <div id="box-ad-2-2">
                        <div id="stars">
                            <img width="13" height="13" src="images/ad-tick-on.png" alt=""><img width="13" height="13"
                                                                                                src="images/ad-tick-on.png"
                                                                                                alt=""><img width="13"
                                                                                                            height="13"
                                                                                                            src="images/ad-tick-on.png"
                                                                                                            alt=""><img
                                width="13" height="13" src="images/ad-tick-on.png" alt=""><img width="13" height="13"
                                                                                               src="images/ad-tick.png"
                                                                                               alt=""></div>
                        4.12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ad -->
    <!-- ad -->
    <div id="wybor2">

        <div id="adsyb">
            <div id="box-ad-border">
                <div class="auto-style2" id="box-ad-1">
                    <img width="57" height="57" style="float: right" src="images/logo-adidas.png" alt="logo"><a
                        href="#">Adidas Partners</a>
                    <br>
                    <div id="ad-address">
                        <a href="#">Warszawa<br>
                            ul. Krucza 22 / 3</a></div>
                </div>
                <div class="auto-style2" id="box-ad-2">
                    <div id="box-ad-2-l">Cena: 2230.88 zł</div>
                    <div id="box-ad-2-2"> Odległość: 12.9 km</div>
                </div>
                <div id="box-ad-3">
                    <div id="box-ad-2-4">
<span style="text-decoration:none; color:black">
	<img width="9" height="11" src="images/arrow.png" alt="">
	<a href="#">Więcej</a></span></div>
                    <div id="box-ad-2-2">
                        <div id="stars">
                            <img width="13" height="13" src="images/ad-tick-on.png" alt=""><img width="13" height="13"
                                                                                                src="images/ad-tick-on.png"
                                                                                                alt=""><img width="13"
                                                                                                            height="13"
                                                                                                            src="images/ad-tick-on.png"
                                                                                                            alt=""><img
                                width="13" height="13" src="images/ad-tick-on.png" alt=""><img width="13" height="13"
                                                                                               src="images/ad-tick.png"
                                                                                               alt=""></div>
                        4.12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ad -->
</div>
<div class="auto-style1" id="ads-scroll">
    <a href="#">
        <img width="974" height="9" src="images/scroll.png" alt=""><img width="17" height="13"
                                                                        src="images/adsb-icon.png"
                                                                        style="padding:0 8px 0 8px;" alt=""></a></div>
</div>