<div id="narrow-window">
    &nbsp;<a href="#" title="Zamknij okno"><img width="26" height="26" src="{$site_url}images/close.png" alt="Zamknij okno" class="closeb"></a>
    <div id="adb-gora5">
        &nbsp; Produkt:<br>
        &nbsp; Sklep:<br>
    </div>
    <div id="adb-3">
        <table cellspacing="0" cellpadding="0" style="width: 100%">
            <tbody><tr>
                <td style="height: 18px">Imię:</td>
                <td style="height: 18px"><input name="form1"></td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td><input name="form2">&nbsp;</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><input name="form3">&nbsp;</td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td><input name="form4">&nbsp;</td>
            </tr>
            <tr>
                <td>Data:</td>
                <td><input name="form13"> <a href="#">
                    <img width="25" height="27" src="{$site_url}images/calendar.png" alt="" class="middle"></a></td>
            </tr>
            <tr>
                <td>Godzina:</td>
                <td><input value="10:00" style="width: 32px" name="form11">&nbsp;<img width="13" id="godzina2" usemap="#godzina2" src="{$site_url}images/arrows.png" alt="">

                    <map name="godzina2" id="godzina2"><area target="_self" href="#up" coords="0,0,12,13" title="" alt="" shape="rect"><area target="" href="#down" coords="0,14,12,26" title="" alt="" shape="rect"></map>
                </td>
            </tr>
            </tbody></table>
    </div>
    <div id="adb-4">
        <table cellspacing="0" cellpadding="0" style="width: 100%">
            <tbody><tr>
                <td valign="top" style="height: 18px; width: 109px;">Uwagi:</td>
                <td style="height: 18px">
                    <textarea name="message" class="wiad"></textarea></td>
            </tr>
            </tbody></table>
    </div>
    <a style="float:right; margin-right:45px;" href="#" class="button">
        <div class="auto-style44">
            Umów się na spotkanie</div>
    </a>
    &nbsp;</div>