<div id="narrow-window2">
    &nbsp;<a href="#" title="Zamknij okno"><img width="26" height="26" src="images/close.png" alt="Zamknij okno" class="closeb"></a>
    <div id="adb-gora5">
       &nbsp; Produkt:<br>
       &nbsp; Sklep:<br>
    </div>
    <div id="adb-3">
        <table cellspacing="0" cellpadding="0" style="width: 100%">
            <tbody><tr>
                <td style="height: 18px; width: 77px;">Imię:</td>
                <td style="height: 18px"><input name="form1"></td>
            </tr>
            <tr>
                <td style="width: 77px">Nazwisko:</td>
                <td><input name="form2">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 77px">E-mail:</td>
                <td><input name="form3">&nbsp;</td>
            </tr>
            </tbody></table>
    </div>
    <div id="adb-4">
        <table cellspacing="0" cellpadding="0" style="width: 323px">
            <tbody><tr>
                <td valign="top" style="height: 18px; width: 103px;">Ocena:&nbsp;</td>
                <td style="height: 18px">
                    <img width="21" height="21" src="images/tick-1.png" alt=""><img width="21" height="21" src="images/tick-2.png" alt=""><img width="21" height="21" src="images/tick-2.png" alt=""><img width="21" height="21" src="images/tick-2.png" alt=""><img width="21" height="21" src="images/tick-2.png" alt="">&nbsp;</td>
            </tr>
            <tr>
                <td valign="top" style="height: 18px; width: 103px;"><br>
                    Uwagi:</td>
                <td style="height: 18px">
                    <textarea name="message" style="height: 96px; width: 230px;"></textarea></td>
            </tr>
            </tbody></table>
    </div>
    <a style="float:right; margin-right:45px;" href="#" class="button">
        <div class="auto-style4">
            Wyślij wiadomość</div>
    </a>
    &nbsp;</div>