<!-- fooimagester -->
<div id="footer">
    <div id="max-width2">
        <div id="eu">
            <a href="#">
                <img alt="" height="29" src="{$site_url}images/ig.png" width="85"/></a>&nbsp;
            <a href="#">
                <img alt="" height="29" src="{$site_url}images/e-idea.png" width="79"/></a>&nbsp;
            <a href="#">
                <img alt="" height="28" src="{$site_url}images/eu.png" width="113"/></a></div>
        <div id="reg" style="margin:auto; width:300px;">
            Korzystanie z serwisu oznacza akceptacje
            <a href="#">regulaminu</a>
            <div id="eu2">
            </div>
        </div>
    </div>
</div>
</div>
<div id="popupwindow" style="display:none">
    test
</div>
<!-- end footer -->
</body>
</html>
