<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index, follow"/>
    <link rel="shortcut icon" href="{$site_url}images/favicon.ico"/>
    <meta name="keywords" content=""/>
    <base href="http://www.knsdes.nazwa.pl/www_gdzieobejrze_pl/www/">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>GdzieObejrze.pl</title>
    <link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" media="screen"/>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/script.js"></script>
    {literal}
    <!--[if lt IE 7]>
    <style media="screen" type="text/css">
        #wrapper {
            height: 100%;
        }
    </style>
    <![endif]-->
    {/literal}
</head>
<body>