<div id="sp1">
    <div id="sp2"><a href="javascript: void(0)" onclick="tootgleSlider();">
        <img height="196" width="39" src="{$site_url}images/slider-polecane.png" class="auto-style45" alt=""></a>
    </div>
    <div id="sp3">
        <div id="sp4">
            <div id="sp5">Polecane produkty</div>
            <div id="slider-box">
                <div id="slider-box-in">
                    <a href="#">
                        <img height="104" width="115" src="{$site_url}images/bike-small.png" alt=""></a></div>
                <div id="slider-tytul">
                    <a href="#1">Mercury Hudson 3000</a>
                </div>
            </div>
            <div id="slider-box2">
                <div id="slider-box-in">
                    <a href="#">
                        <img height="104" width="115" src="{$site_url}images/bike-small.png" alt=""></a></div>
                <div id="slider-tytul"><a href="#1">Mercury Hudson 3000</a>
                </div>
            </div>
            <div id="slider-box">
                <div id="slider-box-in">
                    <a href="#">
                        <img height="104" width="115" src="{$site_url}images/bike-small.png" alt=""></a></div>
                <div id="slider-tytul"><a href="#1">Mercury Hudson 3000</a>
                </div>
            </div>
            <div id="slider-box2">
                <div id="slider-box-in">
                    <img height="104" width="115" src="{$site_url}images/bike-small.png" alt=""></div>
                <div id="slider-tytul"><a href="#1">Mercury Hudson 3000</a>
                </div>
            </div>
            <div id="slider-box">
                <div id="slider-box-in">
                    <img height="104" width="115" src="{$site_url}images/bike-small.png" alt=""></div>
                <div id="slider-tytul"><a href="#1">Mercury Hudson 3000</a>
                </div>
            </div>
            <div id="slider-box2">
                <div id="slider-box-in">
                    <img height="104" width="115" src="{$site_url}images/bike-small.png" alt=""></div>
                <div id="slider-tytul"><a href="#1">Mercury Hudson 3000</a>
                </div>
            </div>
        </div>
    </div>
</div>