<div id="left">

<div id="left-box1">
    <a href="#">
        <img height="171" width="298" src="{$site_url}images/logo-mapa.png" alt="Strona główna"></a></div>
<div style=" width:290px;;" id="left-box2">
    <div id="wybor">
        <div id="jestes2">    &nbsp;<a href="#"><img height="23" width="16" src="{$site_url}images/men.png" alt=""></a>
            <a href="#">
                <img height="28" width="27" class="auto-style3" src="{$site_url}images/car.png" alt=""></a></div>
        <a href="#" id="previous" class="prev car-button">
            <img height="42" width="126" src="{$site_url}images/trans.png" alt=""></a></div>
    <div id="wybor3">
        <div id="wybor15">
            <!-- Image map text links - Start -->
            <img height="40" width="262" alt="" usemap="#sortowanie" src="{$site_url}images/menu-gorne.png" id="sortowanie">
            <map name="Image-Maps_1201302281335359" id="sortowanie">
                <area title="" alt="" href="#sortowanie-cena-dol" coords="107,8,124,26" shape="rect">
                <area title="" alt="" href="#sortowanie-cena-gora" coords="124,8,141,26" shape="rect">
                <area title="" alt="" href="#sortownie-odleglosc" coords="206,9,223,27" shape="rect">
                <area title="" alt="" href="#sortowanie-odleglosc-gora" coords="222,9,239,27" shape="rect">
            </map>
            <!-- Image map text links - End  -->
        </div>
    </div>
    <div id="wybor4">
        <div id="curiosel" style="position: relative; top: 0px;">

        </div>
        <br>
    </div>
    <div id="wybor5">
        <a href="#" id="next" class="next car-button" >
            <img height="42" width="126" src="{$site_url}images/trans.png" class="downar" alt=""></a></div>
</div>
<div id="left-box3">
    <div id="range">
        <div id="range1">Zmień zasięg:</div>
        <div id="range5">
            <div id="range2"><a href="#">
                <img height="26" width="17" src="{$site_url}images/left-icon.png" alt="" class="left2"></a></div>
            <div id="range3"> 5 km</div>
            <div id="range4" >
                <a  href="#">
                    <img height="26" width="17" src="{$site_url}images/right-icon.png" alt="" class="right2"></a><br>
            </div>
        </div>
    </div>
</div>
</div>