<li><a href="{$site_url}index.php/page/109">O nas</a></li>
<li><a href="{$site_url}index.php/page/110">Dodaj sklep</a></li>
<li><a href="{$site_url}index.php/page/111">Współpraca</a></li>
<li><a href="{$site_url}index.php/page/112">Regulamin</a></li>
<li><a href="{$site_url}index.php/page/113">Pomoc</a></li>
<li><a href="{$site_url}index.php/page/114">Forum</a></li>
<li><a href="{$site_url}index.php/page/115">Kontakt</a></li>
<li><a href="{$site_url}../console/"><span style="color:black">Logowanie</span></a></li>
