<!DOCTYPE html><head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="{$site_url}images/favicon.ico" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GdzieObejrze.pl</title>
    <link href="{$site_url}css/shopstyle.css" rel="stylesheet" type="text/css" media="screen" />
    <style type="text/css">
        {literal}
        .auto-style1 {
            text-align: center;
        }
        {/literal}
    </style>
</head>
<body>
<div style="width:1032px;" >
<img  src="{$site_url}images/7.jpg"/>
    </div>
</body>
</html>
