<!DOCTYPE html><head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="{$site_url}images/favicon.ico" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GdzieObejrze.pl</title>
    <link href="{$site_url}css/shopstyle.css" rel="stylesheet" type="text/css" media="screen" />
    <style type="text/css">
        {literal}
        .auto-style1 {
            text-align: center;
        }
        {/literal}
    </style>
</head>
<body>
<!-- header -->
<div id="sklep-top">
    <div id="sklep-top-header">
        <div id="sklep-top-header-left">
            <a href="#">
            <img alt="" height="91" src="{$media_url}image/200x150/default.jpg" width="91"></a></div>
        <div id="sklep-top-header-right" class="auto-style1">
            <div  id="sklep-top-header-login">
                Login:&nbsp; <input name="www1" >&nbsp;&nbsp; Hasło: <input name="www" >&nbsp;&nbsp;
                <a href="#"><img alt="" height="26" src="{$site_url}images/sklep-arrow.png" width="19" style="margin-bottom:-8px;"></a>&nbsp; </div>
            <div id="sklep-rejestracja">
                Lorem ipsum is simply text for show mene | <a href="#">Rejestracja</a></div>
        </div>
    </div>
</div>
<!-- end header -->
<!-- content -->
<div id="sklep">
    <div id="sklep-content">
        <div id="sklep-content-nav">
            <div id="sklep-menu-gora" >
                <a href="#">Home</a>
                <a href="#">New Products</a>
                <a href="#">Specialis</a>
                <a href="#">All Products</a>
                <a href="#">Reviews </a>
                <a href="#">Contact</a>
                <a href="#">FAQs</a>
            </div>
            <div id="sklep-menu-search" >
                <input name="search" class="insearch"><a href="#1"><img alt="" height="37" src="{$site_url}images/logo-trans.png" width="26"></a></div>
        </div>
        <div style="width:1051px; background-color:white;">
            <div id="sklep-menu">
                <div id="sklep-menu-left" >
                    <a href="#">Kategoria abc</a></div>
                <div id="sklep-menu-left" >
                    <a href="#">Kategoria abc</a></div>
                <div id="sklep-menu-left" >
                    <a href="#">Kategoria abc</a></div>
                <div id="sklep-menu-left" >
                    <a href="#">Kategoria abc</a></div>
                <div id="sklep-koszyk">
                    TWÓJ KOSZYK<br><span style="COLOR:#bfbfbf">jest teraz</span> pusty</div>
                <div id="sklep-bestsellers">
                    BESTSELLERS</div>
                <!-- jeden produkt -->
                <div id="sklep-menu-left2"  >
                    <div id="sklep-menu-left3" >01.</div>
                    <div id="sklep-menu-left4" >
                        <a href="#">Breitling Cocpit A435235423 Steel Black Rubber Dive</a></div></div>
                <!-- koniec jeden produkt -->
                <!-- jeden produkt -->
                <div id="sklep-menu-left2"  >
                    <div id="sklep-menu-left3" >02.</div>
                    <div id="sklep-menu-left4" >
                        <a href="#">Breitling Cocpit A435235423 Steel Black Rubber Dive</a></div></div>
                <!-- koniec jeden produkt -->
                <!-- jeden produkt -->
                <div id="sklep-menu-left2"  >
                    <div id="sklep-menu-left3" >03.</div>
                    <div id="sklep-menu-left4" >
                        <a href="#">Breitling Cocpit A435235423 Steel Black Rubber Dive</a></div></div>
                <!-- koniec jeden produkt -->
                <!-- jeden produkt -->
                <div id="sklep-menu-left2"  >
                    <div id="sklep-menu-left3" >04.</div>
                    <div id="sklep-menu-left4" >
                        <a href="#">Breitling Cocpit A435235423 Steel Black Rubber Dive</a></div></div>
                <!-- koniec jeden produkt -->
            </div>
            <div id="sklep-produkty">
                <!-- rzad produktow -->
                <div id="sklep-1rzad" >
                    <!-- rzad produktow -->
                    <!-- 1 produkt -->
                    <div id="sklep-1produkt" >
                        <img alt="" height="243" src="{$site_url}images/sklep-produkt.jpg" width="145"><br>
                        <br>
                        <div id="sklep-title">Ipsum Doler Sit Amus</div>		<div id="sklep-opis">Lorem ipsum doler sit amus del volo</div>
                        <div id="sklep-cena">
                            $35.99</div><br><a class="sklep-przycisk1" href="#">Add to cart</a> <a class="sklep-przycisk2" href="#">Details</a>
                    </div>
                    <!-- end 1 produkt -->
                    <!-- 1 produkt -->
                    <div id="sklep-1produkt" >
                        <img alt="" height="243" src="{$site_url}images/sklep-produkt.jpg" width="145"><br>
                        <br>
                        <div id="sklep-title">Ipsum Doler Sit Amus</div>		<div id="sklep-opis">Lorem ipsum doler sit amus del volo</div>
                        <div id="sklep-cena">
                            $35.99</div><br><a class="sklep-przycisk1" href="#">Add to cart</a> <a class="sklep-przycisk2" href="#">Details</a>
                    </div>
                    <!-- end 1 produkt -->
                    <!-- 1 produkt -->
                    <div id="sklep-1produkt" >
                        <img alt="" height="243" src="{$site_url}images/sklep-produkt.jpg" width="145"><br>
                        <br>
                        <div id="sklep-title">Ipsum Doler Sit Amus</div>		<div id="sklep-opis">Lorem ipsum doler sit amus del volo</div>
                        <div id="sklep-cena">
                            $35.99</div><br><a class="sklep-przycisk1" href="#">Add to cart</a> <a class="sklep-przycisk2" href="#">Details</a>
                    </div>
                    <!-- end 1 produkt -->
                </div>		<!-- end rzad produktow -->
                <!-- rzad produktow -->
                <div id="sklep-kolejnyrzad" >
                    <!-- 1 produkt -->
                    <div id="sklep-1produkt" >
                        <img alt="" height="243" src="{$site_url}images/sklep-produkt.jpg" width="145"><br>
                        <br>
                        <div id="sklep-title">Ipsum Doler Sit Amus</div>		<div id="sklep-opis">Lorem ipsum doler sit amus del volo</div>
                        <div id="sklep-cena">
                            $35.99</div><br><a class="sklep-przycisk1" href="#">Add to cart</a> <a class="sklep-przycisk2" href="#">Details</a>
                    </div>
                    <!-- end 1 produkt -->
                    <!-- 1 produkt -->
                    <div id="sklep-1produkt" >
                        <img alt="" height="243" src="{$site_url}images/sklep-produkt.jpg" width="145"><br>
                        <br>
                        <div id="sklep-title">Ipsum Doler Sit Amus</div>		<div id="sklep-opis">Lorem ipsum doler sit amus del volo</div>
                        <div id="sklep-cena">
                            $35.99</div><br><a class="sklep-przycisk1" href="#">Add to cart</a> <a class="sklep-przycisk2" href="#">Details</a>
                    </div>
                    <!-- end 1 produkt -->
                    <!-- 1 produkt -->
                    <div id="sklep-1produkt" >
                        <img alt="" height="243" src="{$site_url}images/sklep-produkt.jpg" width="145"><br>
                        <br>
                        <div id="sklep-title">Ipsum Doler Sit Amus</div>		<div id="sklep-opis">Lorem ipsum doler sit amus del volo</div>
                        <div id="sklep-cena">
                            $35.99</div><br><a class="sklep-przycisk1" href="#">Add to cart</a> <a class="sklep-przycisk2" href="#">Details</a>
                    </div>
                    <!-- end 1 produkt -->
                </div>		<!-- end rzad produktow -->
            </div>
        </div></div></div>
<!-- end content -->
<!-- footer -->
<div id="sklep-footer">
    <div style="margin:auto; width:1000px;">
        <div style="float:left;width:200px;">
            <a href="#">
                <img alt="" height="121" src="{$site_url}images/sklep-logo-dol.png" width="197" style="margin-top:6px;"></a></div>
        <div id="sklep-stopka" >
            <a href="#">Home</a> <a href="#">What's New?</a> <a href="#">Specials</a>
            <a href="#">Reviews</a> <a href="#">Contacts</a> <br>Firma X  (C) 2012
            <a href="#">Privacy Notice</a>
            &nbsp;I&nbsp;	<a href="#">Conditions of Use </a>
        </div>
    </div>
</div>
<!-- end footer -->
</body>
</html>
