<div id="adsb-backgr">
    <!-- ad -->
    <div id="wybor2">
        <div id="adsyb">
            <div id="box-ad-border">
                <div id="box-ad-1" class="auto-style2">
                    <img width="57" height="57" alt="logo" src="images/logo-adidas.png" style="float: right"><a href="#">Adidas Partners</a>
                    <br>
                    <div id="ad-address">
                        <a href="#">Warszawa<br>
                            ul. Krucza 22 / 3</a></div>
                </div>
                <div id="box-ad-2" class="auto-style2">
                    <div id="box-ad-2-l">Cena: 2230.88 zł</div>
                    <div id="box-ad-2-2"> Odległość: 12.9 km</div>
                </div>
                <div id="box-ad-3" class="auto-style2">
                    <div id="box-ad-2-4">
                        <img width="9" height="11" alt="" src="images/arrow.png"> <a href="#">Więcej</a></div>
                    <div id="box-ad-2-2">
                        <div id="stars">
                            <img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick.png"></div>
                        4.12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ad -->
    <!-- ad -->
    <div id="wybor2">
        <div id="adsyb">
            <div id="box-ad-border">
                <div id="box-ad-1" class="auto-style2">
                    <img width="57" height="57" alt="logo" src="images/logo-adidas.png" style="float: right"><a href="#">Adidas Partners</a>
                    <br>
                    <div id="ad-address">
                        <a href="#">Warszawa<br>
                            ul. Krucza 22 / 3</a></div>
                </div>
                <div id="box-ad-2" class="auto-style2">
                    <div id="box-ad-2-l">Cena: 2230.88 zł</div>
                    <div id="box-ad-2-2"> Odległość: 12.9 km</div>
                </div>
                <div id="box-ad-3" class="auto-style2">
                    <div id="box-ad-2-4"><span style="text-decoration:none; color:black">
	<img width="9" height="11" alt="" src="images/arrow.png">
	<a href="#">Więcej</a></span></div>
                    <div id="box-ad-2-2">
                        <div id="stars">
                            <img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick.png"></div>
                        4.12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ad -->
    <!-- ad -->
    <div id="wybor2">

        <div id="adsyb">
            <div id="box-ad-border">
                <div id="box-ad-1" class="auto-style2">
                    <img width="57" height="57" alt="logo" src="images/logo-adidas.png" style="float: right"><a href="#">Adidas Partners</a>
                    <br>
                    <div id="ad-address">
                        <a href="#">Warszawa<br>
                            ul. Krucza 22 / 3</a></div>
                </div>
                <div id="box-ad-2" class="auto-style2">
                    <div id="box-ad-2-l">Cena: 2230.88 zł</div>
                    <div id="box-ad-2-2"> Odległość: 12.9 km</div>
                </div>
                <div id="box-ad-3" class="auto-style2">
                    <div id="box-ad-2-4">
<span style="text-decoration:none; color:black">
	<img width="9" height="11" alt="" src="images/arrow.png">
	<a href="#">Więcej</a></span></div>
                    <div id="box-ad-2-2">
                        <div id="stars">
                            <img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick.png"></div>
                        4.12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ad -->
    <!-- ad -->
    <div id="wybor2">

        <div id="adsyb">
            <div id="box-ad-border">
                <div id="box-ad-1" class="auto-style2">
                    <img width="57" height="57" alt="logo" src="images/logo-adidas.png" style="float: right"><a href="#">Adidas Partners</a>
                    <br>
                    <div id="ad-address">
                        <a href="#">Warszawa<br>
                            ul. Krucza 22 / 3</a></div>
                </div>
                <div id="box-ad-2" class="auto-style2">
                    <div id="box-ad-2-l">Cena: 2230.88 zł</div>
                    <div id="box-ad-2-2"> Odległość: 12.9 km</div>
                </div>
                <div id="box-ad-3">
                    <div id="box-ad-2-4">
<span style="text-decoration:none; color:black">
	<img width="9" height="11" alt="" src="images/arrow.png">
	<a href="#">Więcej</a></span></div>
                    <div id="box-ad-2-2">
                        <div id="stars">
                            <img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick-on.png"><img width="13" height="13" alt="" src="images/ad-tick.png"></div>
                        4.12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ad -->
</div>