<div id="narrow-window3">
    <div id="gora-cala">
        <div id="info-11">
            <div id="info-10">
                <div id="info-12">
                    {$shop.title}<br>
                    <table cellspacing="0" style="width: 74%">
                        <tbody><tr>
                            <td style="width: 61px">e-mail:</td>
                            <td><a href="mailto:biuro@vertesdesign.pl">biuro@vertesdesign.pl</a></td>
                        </tr>
                        <tr>
                            <td style="width: 61px">telefon:</td>
                            <td> {$shop.phone}</td>
                        </tr>
                        <tr>
                            <td style="width: 61px">kom: </td>
                            <td>{$shop.mobile}</td>
                        </tr>
                        </tbody></table>
                    <br>
                    <br>
                    <br>
                </div>
                <div id="info-13">	&nbsp;<a onclick="closePopupWindow();" href="javascript:void(0)" title="Zamknij okno"><img width="26" height="26" src="images/close.png" alt="Zamknij okno" class="closeb2"></a>
                    <br>
                    <br>
                    <span style="line-height:33px;">Ocena użytkowników:</span><br>
                    <img width="20" height="20" src="images/tick-blue.png" alt=""> <img width="20" height="20" src="images/tick-blue.png" alt=""> <img width="20" height="20" src="images/tick-blue.png" alt=""> <img width="20" height="20" src="images/tick-blue.png" alt=""> <img width="20" height="20" src="images/tick-blue2.png" alt="">&nbsp;
                    <span style="font-size:1.3em">4.12</span></div>
            </div>
            <div id="info-9">
                {$shop.text3}
            </div>
        </div>
        <div class="auto-style1" id="info-23">
            <br>
            <br>
            <img width="165" height="156" src="{$media_url}image/200x150/{$shop.image}" alt="">
            <br>
            <br>
            <div id="info-14">
                <a href="#">
                    <img width="20" height="24" style="float: right" src="images/gps.png" alt=""></a>
                <p>Odległość: <strong>-NA- km
            </strong></p>
            </div>
            <div id="info-15">
                Ulica: <strong>{$shop.company_address}</strong><br>
                Miasto:
                <strong>{$shop.city}</strong><br>
                Kod:
                <strong>{$shop.zip} </strong>
            </div>
            <a href="javascript:void(0);" onclick="formDisplayMeeting({$shop.id})" class="button">
                Umów się na spotkanie
            </a>
        </div>
    </div>
    <div id="info-1">
        <div id="info-2">
            <a href="javascript:void(0);" onclick="formDisplayQuestion({$shop.id})" class="button3">
                Wyślij zapytanie
            </a>
            {if $shop.url1}
            <a href="{$shop.url1}" target="_blank" class="button3">
                Sklep internetowy
            </a>
            {/if}
            <a href="javascript:void(0);" onclick="formDisplayComment({$shop.id})" class="button3">
                Dodaj swoją opinię
            </a>
        </div>
        <div id="info-22">
            {foreach from=$shop_comments item=comment}
            <!-- jeden komentarz -->
            <div id="comment">
                <div id="comment-1">
                    {$comment.date_added}<br>
                    <strong>{$comment.nick}</strong></div>
                <div id="comment-2">
                    <img width="18" height="16" src="images/cytat.png" alt=""></div>
                <div id="comment-3">
                    {$comment.text1}</div>
                <div id="comment-4">{$comment.rate}.0</div>
            </div>
            {/foreach}
            <!-- end jeden komentarz -->

        </div>
        <!--<div id="info-26">-->
        <!--</div>-->
        <!--<div id="info-27">-->
            <!--<a href="#">-->
                <!--<img width="25" height="21" src="images/go2category.png" alt="Idź do kategorii"></a></div>-->
    <!--</div>-->
</div>
        <style>
            {literal}
            .mCSB_dragger_bar{
                position: relative;
                background: url("images/scroll-vertical.png") no-repeat scroll 0px 0px transparent!important;
                line-height: 89px; width: 7px!important;
            }
            .mCSB_dragger{
                height:57px!important;
            }
            .mCSB_draggerContainer{
              height:153px!important;
            }
            .mCSB_scrollTools .mCSB_draggerRail{
                background: none;
            }
            {/literal}
        </style>
        <script>
            {literal}
            $(document).ready(function(){
                $("#info-22").mCustomScrollbar({
                    advanced:{
                        updateOnContentResize: true
                    }
                });
            });
            {/literal}
        </script>